/* This will sytle the Wordpress Core & UIPress Pages on the Dashboard with a morden Look and Feel */

        /*------ADDING STYLES TO YOUR DASHBORAD-------*/
/* 1. Using Admin CSS - Copy & Paste in the styles
   2. Using Enqueue Style - https://drive.google.com/uc?id=1-N6I_GRsDV7839AIi70mMm3xWmbFlmQi
*/

/*------Menu-------*/
html[uip-admin-menu=true] #uip-admin-menu{
  min-height: 660px;
    
}
#uip-admin-menu{
  border-radius: 10px;
  margin-top:10px;
   margin-right: 10px;
   margin-left: 5px;
   margin-bottom: 10px;
  }
/*------Toolbar-------*/
#uip-toolbar{
  margin-top:10px;
   margin-left: 20px;
   margin-right: 20px;
  border-radius: 10px;
}
/*------Box Shadows-------*/
#uip-toolbar,#uip-admin-menu,#uip-settings, #wp-media-grid,#wpbody-content > div.wrap,#overview-app{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.uip-flex-wrap {
  margin-top:20px;
  }
/*------Body-------*/
#wp-media-grid,#wpbody-content > div.wrap,#overview-app{
  margin-top:20px;
  padding: 20px;
  border-radius: 10px; 
  position: relative;
  top: 10px;
}
/*------Dashboard-------*/
#overview-app{
  margin-left :20px;
  margin-right: 10px;
}



/*------WOOCOMMERCE STYLE (Optional)-------*/
.woocommerce-layout__header{
  display:none;
}
.woocommerce-layout__activity-panel-wrapper{
  display:none;
}

#e-admin-top-bar-root:not(.e-admin-top-bar--active)~#wpbody .wrap .page-title-action, #e-admin-top-bar-root:not(.e-admin-top-bar--active)~#wpbody .wrap h1{
  padding: 20px;
}
