/*------Menu-------*/
#uip-admin-menu{
  border-radius: 10px;
  margin-top:10px;
   margin-right: 10px;
   margin-left: 5px;
   margin-bottom: 10px;
   min-height: 660px;
   max-height: 660px;
  }
/*------Toolbar-------*/
#uip-toolbar{
  margin-top:10px;
   margin-left: 20px;
   margin-right: 20px;
  border-radius: 10px;
}
/*------Menu, Toolbar -Shadows-------*/
#uip-toolbar,#uip-admin-menu,#uip-settings{
  
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.uip-flex-wrap {
  margin-top:20px;
  }
/*------Body-------*/
#wp-media-grid,#wpbody-content > div.wrap,#overview-app{
  margin-top:20px;
  padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    position: relative;
    top: 10px;
}
/*------Dashboard-------*/
#overview-app{
  margin-left :20px;
  margin-right: 10px;
}
